.tableWrapper {
  height: 540px; /* total area for table + header */
  display: flex;
  flex-direction: column;
}

.tableContainer {
  flex: 1; /* scrollable tbody takes remaining space */
  overflow-y: auto;
  border: 1px solid #dee2e6;
}

.tableContainer table thead th {
  position: sticky;
  top: 0;
  border: 1px solid #dee2e6;
  background-color: #767472;
  color: #ffffff;
}
