.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: left;
  text-align: center;
}
.table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #767472;
  color: #ffffff;
  height: 45px;
}
.th.sorted::after {
  content: " ▼";
}

.th.sorted-asc::after {
  content: " ▲";
}

.th.sorted-desc::after {
  content: " ▼";
}
