.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: center;
}

.th {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #767472;
  color: #ffffff;
  height: 45px;
}

.th::after {
  content: " ⇅";
  font-size: 1em;
  opacity: 0.5;
}

.th.sorted-asc::after {
  content: " ▲";
  opacity: 1;
}

.th.sorted-desc::after {
  content: " ▼";
  opacity: 1;
}

.th:hover {
  background-color: #6b6967;
}
